.events {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: #E2E8F0;

    .events_container {
        display: flex;
        gap: 1rem;
    }

    .event_card {
        display: flex;
        flex-direction: column;
        background-color: var(--background-color-2);
        /* padding: .5rem; */
    }

    .event_card img {
        width: auto;
        height: 20rem;
    }
}