.hero__section {
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    background-image: url('../src/assets/Banner.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    gap: 2rem;
    font-family: 'Montserrat', sans-serif;
    padding-top: 2rem;
    height: 100svh;

    .message {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        #hero__title {
            text-align: center;

            .white {
                color: var(--quaternary-color);
                text-align: center;
                margin-top: 10%;
            }

            .white.upper {
                font-size: 2.5rem;
                font-weight: 900;
            }

            .white.lower {
                font-size: 2rem;
                font-weight: 900;
            }

            .green {
                color: var(--primary-color);
                font-size: 70px;
                font-style: normal;

                font-weight: 900;
            }
        }

        #hero__text {
            margin-top: 5%;
            font-size: .9rem;
            text-align: center;
            color: var(--quaternary-color);
            max-width: 70%;
            line-height: 1.2rem;
        }

        /* .read_more_btn {
            padding: 1rem;
            background-color: var(--primary-color);
            color: var(--quaternary-color);
            border: none;
            border-radius: .5rem;
            margin-top: 2rem;
            cursor: pointer;
        } */
    }
}

/* .arrow {
    margin-top: 5%;
    font-size: 2rem;
    color: var(--quaternary-color);
    border: 2px solid var(--quaternary-color);
    border-radius: 10px;
    padding: .5rem 1rem;
    cursor: pointer;
} */