.support {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem;
    background-color: #E2E8F0;

    .partners,
    .mission_container {
        width: 49%;
    }

    .partners_img {
        display: flex;
        gap: .5rem;
        background-color: #eeeeee;
        align-items: center;
        justify-content: space-evenly;
        padding: 1.2rem 0;
        margin-bottom: 1rem;
    }

    .partners_img img {
        width: auto;
        height: 10rem;
    }

    .partners h3,
    .mission h3,
    .vision h3 {
        color: var(--primary-color);
        margin-bottom: 1.5rem;
        font-size: 1.4rem;
    }

    .mission_container {
        display: flex;
        gap: 1rem;
    }

    .mission,
    .vision {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid var(--primary-color);
        border-radius: .5rem;
        background-color: var(--background-color);
        padding: 2rem;
        height: 20rem;
    }

    .mission img,
    .vision img {}
}